In [1]:
import sklearn
import pandas as pd
from fastai.imports import *
from fastai.structured import *

In [2]:
main_raw = pd.read_csv('/home/orange/MLHoli/Competitions/Data/test_QoiMO9B.csv')
meal_raw = pd.read_csv('/home/orange/MLHoli/Competitions/Data/meal_info.csv')
center_raw = pd.read_csv('/home/orange/MLHoli/Competitions/Data/fulfilment_center_info.csv')

In [3]:
main_raw.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured
0,1028232,146,55,1885,158.11,159.11,0,0
1,1127204,146,55,1993,160.11,159.11,0,0
2,1212707,146,55,2539,157.14,159.14,0,0
3,1082698,146,55,2631,162.02,162.02,0,0
4,1400926,146,55,1248,163.93,163.93,0,0

In [4]:
meal_raw.head()

   meal_id   category cuisine
0     1885  Beverages    Thai
1     1993  Beverages    Thai
2     2539  Beverages    Thai
3     1248  Beverages  Indian
4     2631  Beverages  Indian

In [5]:
center_raw.head()

   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7
2        124        590           56      TYPE_C      4.0
3         66        648           34      TYPE_A      4.1
4         94        632           34      TYPE_C      3.6

In [7]:
df_raw = pd.merge(main_raw, meal_raw,how='outer', on='meal_id')

In [8]:
df_raw = pd.merge(df_raw, center_raw, how='outer', on='center_id'); df_raw.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,category,cuisine,city_code,region_code,center_type,op_area
0,1028232,146,55,1885,158.11,159.11,0,0,Beverages,Thai,647,56,TYPE_C,2.0
1,1262649,147,55,1885,159.11,159.11,0,0,Beverages,Thai,647,56,TYPE_C,2.0
2,1453211,149,55,1885,157.14,158.14,0,0,Beverages,Thai,647,56,TYPE_C,2.0
3,1262599,150,55,1885,159.14,157.14,0,0,Beverages,Thai,647,56,TYPE_C,2.0
4,1495848,151,55,1885,160.11,159.11,0,0,Beverages,Thai,647,56,TYPE_C,2.0

In [9]:
df_raw.dtypes

id                         int64
week                       int64
center_id                  int64
meal_id                    int64
checkout_price           float64
base_price               float64
emailer_for_promotion      int64
homepage_featured          int64
category                  object
cuisine                   object
city_code                  int64
region_code                int64
center_type               object
op_area                  float64
dtype: object

In [10]:
df_cat = pd.get_dummies(df_raw, columns=['meal_id', 'center_id', 'emailer_for_promotion', 'homepage_featured', 'category', 'cuisine', 'center_type'])

In [11]:
len(df_raw.meal_id.unique())

51

In [12]:
df_cat.head()

,id,week,checkout_price,base_price,city_code,region_code,op_area,meal_id_1062,meal_id_1109,meal_id_1198,...,category_Seafood,category_Soup,category_Starters,cuisine_Continental,cuisine_Indian,cuisine_Italian,cuisine_Thai,center_type_TYPE_A,center_type_TYPE_B,center_type_TYPE_C
0,1028232,146,158.11,159.11,647,56,2.0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1262649,147,159.11,159.11,647,56,2.0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,1453211,149,157.14,158.14,647,56,2.0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,1262599,150,159.14,157.14,647,56,2.0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,1495848,151,160.11,159.11,647,56,2.0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [13]:
df_cat.columns

Index(['id', 'week', 'checkout_price', 'base_price', 'city_code',
       'region_code', 'op_area', 'meal_id_1062', 'meal_id_1109',
       'meal_id_1198',
       ...
       'category_Seafood', 'category_Soup', 'category_Starters',
       'cuisine_Continental', 'cuisine_Indian', 'cuisine_Italian',
       'cuisine_Thai', 'center_type_TYPE_A', 'center_type_TYPE_B',
       'center_type_TYPE_C'],
      dtype='object', length=160)

In [14]:
df_cat['week_mod4'] = df_cat.week % 4

In [15]:
df_cat['week_mod52'] = df_cat.week % 52

In [16]:
df_cat['discount'] = df_cat.base_price - df_cat.checkout_price

In [17]:
df_cat.discount

0          1.00
1          0.00
2          1.00
3         -2.00
4         -1.00
5          1.00
6         -1.00
7         -2.00
8          1.00
9         -1.00
10         0.00
11         1.00
12         1.00
13         2.00
14         1.00
15        -2.00
16         1.00
17         1.00
18         0.00
19         2.00
20         1.00
21         0.00
22         0.00
23        68.87
24        62.02
25        63.02
26        64.02
27        -1.00
28         1.00
29         0.00
          ...
32543    214.37
32544     96.00
32545     -1.00
32546      0.00
32547     -1.00
32548     -2.00
32549      0.00
32550     79.57
32551     -2.00
32552     -1.00
32553     -2.00
32554      0.00
32555     -2.00
32556     -2.00
32557      0.00
32558      2.00
32559      0.00
32560     -1.00
32561     -2.00
32562      0.00
32563      1.00
32564     -2.00
32565     -1.00
32566      2.00
32567     -1.00
32568     -2.00
32569      0.00
32570      0.00
32571      0.00
32572      1.00
Name: discount, Length: 32573, dtype: float64

In [18]:
df_cat.discount.describe()

count    32573.000000
mean        14.639175
std         39.374791
min        -76.570000
25%         -1.000000
50%          0.000000
75%          2.000000
max        820.590000
Name: discount, dtype: float64

In [19]:
df_cat['discount_percent'] = df_cat.discount *100 / df_cat.base_price

In [20]:
df_cat.discount_percent.describe()

count    32573.000000
mean         4.359922
std         10.450501
min        -26.753083
25%         -0.177746
50%          0.000000
75%          0.622801
max         73.752944
Name: discount_percent, dtype: float64

In [21]:
df_cat[df_cat.discount_percent>90]

Empty DataFrame
Columns: [id, week, checkout_price, base_price, city_code, region_code, op_area, meal_id_1062, meal_id_1109, meal_id_1198, meal_id_1207, meal_id_1216, meal_id_1230, meal_id_1247, meal_id_1248, meal_id_1311, meal_id_1438, meal_id_1445, meal_id_1525, meal_id_1543, meal_id_1558, meal_id_1571, meal_id_1727, meal_id_1754, meal_id_1770, meal_id_1778, meal_id_1803, meal_id_1847, meal_id_1878, meal_id_1885, meal_id_1902, meal_id_1962, meal_id_1971, meal_id_1993, meal_id_2104, meal_id_2126, meal_id_2139, meal_id_2290, meal_id_2304, meal_id_2306, meal_id_2322, meal_id_2444, meal_id_2490, meal_id_2492, meal_id_2494, meal_id_2539, meal_id_2569, meal_id_2577, meal_id_2581, meal_id_2631, meal_id_2640, meal_id_2664, meal_id_2704, meal_id_2707, meal_id_2760, meal_id_2826, meal_id_2867, meal_id_2956, center_id_10, center_id_11, center_id_13, center_id_14, center_id_17, center_id_20, center_id_23, center_id_24, center_id_26, center_id_27, center_id_29, center_id_30, center_id_32, center_id_34, center_id_36, center_id_39, center_id_41, center_id_42, center_id_43, center_id_50, center_id_51, center_id_52, center_id_53, center_id_55, center_id_57, center_id_58, center_id_59, center_id_61, center_id_64, center_id_65, center_id_66, center_id_67, center_id_68, center_id_72, center_id_73, center_id_74, center_id_75, center_id_76, center_id_77, center_id_80, center_id_81, center_id_83, ...]
Index: []

[0 rows x 164 columns]

In [22]:
df_raw[df_raw.meal_id == 1885].groupby('center_id').describe()

          base_price                                                    \
               count        mean        std     min       25%      50%
center_id
10              10.0  157.367000   1.379872  155.20  156.4200  158.140
11              10.0  157.852000   0.484672  157.14  157.4125  158.140
13              10.0  154.460000   4.191844  149.38  151.3800  154.260
14              10.0  157.940000   1.532014  156.17  157.1400  157.140
17              10.0  158.037000   0.987511  156.17  157.3825  158.125
20              10.0  158.231000   1.086364  156.17  157.3825  158.625
23              10.0  158.528000   1.250776  156.17  158.1100  158.625
24              10.0  158.619000   1.168660  157.14  158.1100  158.125
26              10.0  140.189000   2.222538  136.77  138.7250  140.165
27              10.0  151.150000   0.788811  150.35  150.3500  151.350
29              10.0  119.152000   1.933355  116.43  118.3475  118.855
30              10.0  158.237000   0.868499  157.14  158.1175  158.140
32              10.0  120.413000   0.977537  118.34  120.3100  120.325
34              10.0  120.210000   0.868063  119.31  119.3175  120.310
36              10.0  158.043000   1.180885  156.17  157.1475  158.140
39              10.0  118.764000   1.535116  116.43  118.3475  118.855
41              10.0  157.849000   2.057093  153.29  158.1100  158.155
42              10.0  142.520000   1.336430  140.68  141.8625  142.605
43              10.0  157.761000   1.058914  156.17  157.1700  158.140
50              10.0  141.271000   2.216070  136.80  139.9525  141.650
51              10.0  157.843000   0.939303  156.17  157.1475  158.125
52              10.0  157.946000   1.219537  156.17  157.1400  158.140
53              10.0  157.455000   0.933086  156.17  157.1400  157.170
55               9.0  158.672222   0.872995  157.14  158.1100  159.110
57              10.0  141.074000   2.302874  137.77  139.7175  140.195
58              10.0  139.525000   3.717625  130.01  138.7250  140.210
59              10.0  157.267000   0.872214  156.17  156.4200  157.170
61              10.0  142.820000   0.632614  141.62  142.6200  142.620
64              10.0  140.101000   1.328294  138.71  138.9600  139.725
65              10.0  119.713000   0.829900  118.34  119.3100  120.295
...              ...         ...        ...     ...       ...      ...
93              10.0  120.516000   0.899669  119.31  120.2875  120.340
94              10.0  119.046000   1.144030  117.37  118.3475  118.855
97              10.0  141.553000   1.487026  139.71  140.6575  141.150
99              10.0  158.237000   0.984807  157.14  157.1475  158.625
101             10.0  158.140000   1.393054  156.17  157.1475  157.655
102             10.0  131.941000  10.484640  119.31  119.8100  139.195
104             10.0  157.276000   0.737205  156.17  157.1475  157.200
106             10.0  118.743000   0.961296  117.37  118.3400  118.340
108             10.0  144.660000   0.737865  143.56  144.5600  144.560
109             10.0  151.750000   0.699206  150.35  151.3500  151.850
110             10.0  118.961000   1.322333  116.40  118.3700  119.370
113             10.0  139.619000   1.696751  136.77  138.7250  139.725
124             10.0  150.180000   0.632456  149.38  149.6300  150.380
126             10.0  157.170000   1.538000  155.20  156.1700  157.185
129             10.0  141.638000   1.228629  139.68  140.6500  141.635
132             10.0  152.611000   4.612082  148.41  148.6600  149.910
137             10.0  158.149000   0.808420  157.14  157.4125  158.140
139             10.0  118.461000   1.624052  115.43  117.3850  118.855
143             10.0  141.650000   1.899169  139.68  139.7100  141.650
145             10.0  140.877000   1.106818  138.71  140.6650  140.710
146             10.0  119.040000   1.302749  116.40  118.3700  118.855
149             10.0  141.262000   1.865093  138.71  139.9225  140.680
152             10.0  119.534000   1.368545  117.37  118.6050  119.355
153             10.0  158.825000   1.152401  157.14  158.1100  159.140
157             10.0  118.267000   1.762063  115.43  116.6425  118.840
161             10.0  120.701000   0.832379  119.31  120.2875  121.280
162             10.0  120.807000   2.070368  117.40  119.5675  120.795
174             10.0  153.108000   3.767595  149.38  150.6300  151.380
177             10.0  140.083000   2.122326  137.74  138.7100  139.210
186             10.0  118.658000   0.932009  117.37  118.3475  118.385

                            checkout_price              ...   region_code  \
                75%     max          count        mean  ...           75%
center_id                                               ...
10         158.1700  159.14           10.0  157.364000  ...          56.0
11         158.1625  158.17           10.0  157.652000  ...          56.0
13         158.1400  159.14           10.0  157.649000  ...          56.0
14         159.1400  160.11           10.0  158.249000  ...          56.0
17         158.8900  159.14           10.0  158.037000  ...          56.0
20         159.1100  159.14           10.0  158.631000  ...          56.0
23         159.1400  160.11           10.0  158.928000  ...          23.0
24         159.8600  160.11           10.0  158.619000  ...          85.0
26         141.6500  143.62           10.0  140.189000  ...          77.0
27         151.3500  152.35           10.0  159.119000  ...          85.0
29         119.3625  123.25           10.0  118.952000  ...          34.0
30         158.1625  160.11           10.0  158.537000  ...          56.0
32         120.3400  122.28           10.0  120.013000  ...          34.0
34         121.0375  121.31           10.0  120.010000  ...          34.0
36         158.8750  160.11           10.0  158.343000  ...          56.0
39         119.3700  121.28           10.0  118.664000  ...          34.0
41         159.1100  160.11           10.0  157.649000  ...          56.0
42         142.6425  144.59           10.0  142.720000  ...          77.0
43         158.1700  159.14           10.0  157.561000  ...          56.0
50         142.4075  144.59           10.0  140.971000  ...          77.0
51         158.1400  159.14           10.0  157.743000  ...          56.0
52         159.1400  159.14           10.0  157.746000  ...          56.0
53         158.1325  159.14           10.0  157.255000  ...          56.0
55         159.1100  160.11            9.0  158.894444  ...          56.0
57         142.4000  145.56           10.0  140.674000  ...          77.0
58         141.6725  143.62           10.0  138.825000  ...          77.0
59         158.1625  158.17           10.0  157.655000  ...          56.0
61         143.3775  143.62           10.0  142.626000  ...          77.0
64         140.7100  142.65           10.0  139.607000  ...          77.0
65         120.3100  120.31           10.0  119.813000  ...          34.0
...             ...     ...            ...         ...  ...           ...
93         121.0450  122.28           10.0  120.616000  ...          34.0
94         119.3400  121.31           10.0  118.949000  ...          34.0
97         142.6425  143.62           10.0  140.868000  ...          77.0
99         159.1325  159.14           10.0  158.434000  ...          71.0
101        159.1325  160.11           10.0  158.540000  ...          85.0
102        139.7025  141.68           10.0  141.162000  ...          77.0
104        157.9275  158.17           10.0  157.358000  ...          56.0
106        119.0900  120.34           10.0  118.846000  ...          34.0
108        145.3100  145.56           10.0  157.655000  ...          56.0
109        152.3500  152.35           10.0  158.043000  ...          56.0
110        120.0750  120.34           10.0  118.858000  ...          77.0
113        140.7025  142.65           10.0  139.319000  ...          77.0
124        150.3800  151.38           10.0  158.543000  ...          56.0
126        158.1625  159.14           10.0  157.070000  ...          56.0
129        142.6125  143.62           10.0  142.041000  ...          77.0
132        157.8975  158.17           10.0  157.549000  ...          56.0
137        158.8975  159.14           10.0  157.746000  ...          56.0
139        119.3325  121.31           10.0  118.961000  ...          34.0
143        143.3550  144.59           10.0  141.450000  ...          77.0
145        141.6425  142.62           10.0  141.168000  ...          77.0
146        120.2800  120.34           10.0  119.340000  ...          34.0
149        142.4075  144.59           10.0  141.262000  ...          77.0
152        120.3325  122.25           10.0  119.331000  ...          34.0
153        159.8675  160.11           10.0  158.625000  ...          56.0
157        119.3625  120.34           10.0  118.067000  ...          93.0
161        121.3025  121.31           10.0  120.201000  ...          34.0
162        122.7650  123.25           10.0  119.807000  ...          34.0
174        156.4500  159.14           10.0  157.946000  ...          56.0
177        141.6425  143.62           10.0  140.583000  ...          56.0
186        119.3400  120.31           10.0  118.858000  ...          34.0

                 week                                                      \
            max count        mean       std    min     25%    50%     75%
center_id
10         56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
11         56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
13         56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
14         56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
17         56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
20         56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
23         23.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
24         85.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
26         77.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
27         85.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
29         34.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
30         56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
32         34.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
34         34.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
36         56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
39         34.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
41         56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
42         77.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
43         56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
50         77.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
51         56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
52         56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
53         56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
55         56.0   9.0  150.777778  3.073181  146.0  149.00  151.0  153.00
57         77.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
58         77.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
59         56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
61         77.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
64         77.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
65         34.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
...         ...   ...         ...       ...    ...     ...    ...     ...
93         34.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
94         34.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
97         77.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
99         71.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
101        85.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
102        77.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
104        56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
106        34.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
108        56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
109        56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
110        77.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
113        77.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
124        56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
126        56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
129        77.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
132        56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
137        56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
139        34.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
143        77.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
145        77.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
146        34.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
149        77.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
152        34.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
153        56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
157        93.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
161        34.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
162        34.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
174        56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
177        56.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75
186        34.0  10.0  150.500000  3.027650  146.0  148.25  150.5  152.75


             max
center_id
10         155.0
11         155.0
13         155.0
14         155.0
17         155.0
20         155.0
23         155.0
24         155.0
26         155.0
27         155.0
29         155.0
30         155.0
32         155.0
34         155.0
36         155.0
39         155.0
41         155.0
42         155.0
43         155.0
50         155.0
51         155.0
52         155.0
53         155.0
55         155.0
57         155.0
58         155.0
59         155.0
61         155.0
64         155.0
65         155.0
...          ...
93         155.0
94         155.0
97         155.0
99         155.0
101        155.0
102        155.0
104        155.0
106        155.0
108        155.0
109        155.0
110        155.0
113        155.0
124        155.0
126        155.0
129        155.0
132        155.0
137        155.0
139        155.0
143        155.0
145        155.0
146        155.0
149        155.0
152        155.0
153        155.0
157        155.0
161        155.0
162        155.0
174        155.0
177        155.0
186        155.0

[77 rows x 80 columns]

In [23]:
df_cat.describe()

,id,week,checkout_price,base_price,city_code,region_code,op_area,meal_id_1062,meal_id_1109,meal_id_1198,...,cuisine_Indian,cuisine_Italian,cuisine_Thai,center_type_TYPE_A,center_type_TYPE_B,center_type_TYPE_C,week_mod4,week_mod52,discount,discount_percent
count,3.257300e+04,32573.000000,32573.000000,32573.000000,32573.000000,32573.000000,32573.000000,32573.000000,32573.000000,32573.000000,...,32573.000000,32573.000000,32573.000000,32573.000000,32573.000000,32573.000000,32573.000000,32573.000000,32573.000000,32573.000000
mean,1.248476e+06,150.477819,341.854440,356.493615,601.519971,56.712154,4.087726,0.023516,0.023609,0.009486,...,0.239677,0.271268,0.256102,0.574586,0.210235,0.215178,1.691278,46.477819,14.639175,4.359922
std,1.441580e+05,2.864072,153.893886,155.150101,65.996677,17.641174,1.098835,0.151539,0.151828,0.096936,...,0.426893,0.444621,0.436485,0.494413,0.407482,0.410952,1.100466,2.864072,39.374791,10.450501
min,1.000085e+06,146.000000,67.900000,89.240000,456.000000,23.000000,0.900000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,42.000000,-76.570000,-26.753083
25%,1.123969e+06,148.000000,214.430000,243.500000,556.000000,34.000000,3.600000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,44.000000,-1.000000,-0.177746
50%,1.247296e+06,150.000000,320.130000,321.130000,596.000000,56.000000,4.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2.000000,46.000000,0.000000,0.000000
75%,1.372971e+06,153.000000,446.230000,455.930000,651.000000,77.000000,4.500000,0.000000,0.000000,0.000000,...,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,3.000000,49.000000,2.000000,0.622801
max,1.499996e+06,155.000000,1113.620000,1112.620000,713.000000,93.000000,7.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,51.000000,820.590000,73.752944

In [24]:
df_cat.drop('id', axis=1, inplace=True)

In [68]:
df_trn, y_trn, nas = proc_df(df_cat, 'num_orders')

In [69]:
def split_vals(a, n): return a[:n].copy(), a[n:].copy()

size_train = int(len(df_trn)*0.7)
x_train, x_valid = split_vals(df_trn, size_train)
y_train, y_valid = split_vals(y_trn, size_train)

In [73]:
def print_score(m):
    return metrics.mean_squared_log_error(y_valid, m.predict(x_valid))*100

In [75]:
m = ensemble.RandomForestRegressor(n_jobs=-1, max_features=0.5, min_samples_leaf=3, n_estimators=40, oob_score=False)
m.fit(x_train, y_train)
print_score(m)

40.507484597357724